html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  /* font-family: 'Quicksand', sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1264px;
}
.custom_grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1.2fr;
}
#active {
  font-weight: 700;
}
.imgspan > span {
  top: 90px;
  right: -40px;
}
/* Site menu css */
.side_menu > ul {
  padding: 30px 26px;
  overflow: hidden;
  position: absolute;
  display: block;
  background: #000;
  width: 100%;
  top: 0px;
  height: 100vh;
  z-index: 9999;
  left: 0%;
  animation: slide 1s;
}
.close_menu {
  position: absolute;
  z-index: 99999;
  right: 28px;
  top: 28px;
  color: #fff;
  font-size: 24px;
  animation: slide1 2s;
}
@keyframes slide {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
@keyframes slide1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.side_menu > ul > li {
  color: #fff;
  padding: 10px;
}

/* Global css for hide break tag in responsive*/
@media (max-width: 786px) {
  span#spanimg1 {
    left: 0px !important;
  }
  span#spanimg2 {
    right: -10px !important;
  }
}
@media (max-width: 450px) {
  .hide_br > br {
    display: none;
  }
}
